In [12]:
import sys
sys.path.append("/Users/zhilingc/Documents/go-projects/src/github.com/gojektech/feast/sdk/python")

In [13]:
from feast.sdk.utils.gs_utils import *
import numpy as np
import pandas as pd

In [14]:
path = "gs://zl-test-bucket/cicilan.csv"
path = path.replace('gs://', '', 1)
path.split('/', 1)

['zl-test-bucket', 'cicilan.csv']

In [15]:
df = gs_to_pd("gs://zl-test-bucket/cicilan.csv")

NameError: name 'gs_to_pd' is not defined

In [17]:
df.dtypes[0]

int64

In [13]:
df.head()

,driver_id,cicilan_id,start_date,status,paused_overdue_payments,paused_pending_payments,total_paid_payments_migrated,customised_installment_count,id,installment_value,installment_count,driverid,match
0,540212233,1,2017-02-01,applied,NaN,NaN,NaN,NaN,1,8500,20.0,540212233,1
1,540212233,1,2017-02-01,applied,NaN,NaN,NaN,NaN,1,8500,20.0,540212233,1
2,540212233,1,2017-02-01,applied,NaN,NaN,NaN,NaN,1,8500,20.0,540212233,1
3,540212233,1,2017-02-01,applied,NaN,NaN,NaN,NaN,1,8500,20.0,540212233,1
4,540182770,6,2015-09-18,applied,NaN,NaN,NaN,NaN,6,26000,1050.0,540182770,1

In [55]:
column_name = list(df.columns.values)
column_name

column_name.remove('driver_id')
column_name.remove(None)

ValueError: list.remove(x): x not in list

In [16]:
dtype('int64')

NameError: name 'dtype' is not defined

In [35]:
dft = pd.DataFrame(dict(A = np.random.rand(3),
                            B = 1,
                            C = 'foo',
                            D = pd.Timestamp('20180310'),
                            E = pd.Series([1.0]*3).astype('float32'),
                            F = False,
                            G = pd.Series([1]*3,dtype='int8')))

In [45]:
dft['C'].dtype.__str__()

'object'

In [1]:
import sys
sys.path.append("/Users/zhilingc/Documents/go-projects/src/github.com/gojektech/feast/sdk/python")

In [2]:
from feast.sdk.importer import Importer
from feast.types.Granularity_pb2 import Granularity
# from feast.types.Value_pb2 import ValueType

In [3]:
importer = Importer.from_csv("driver_features.csv", "entity", Granularity.DAY, "me", staging_location="gs://zl-test-bucket",
        id_column="driver_id", timestamp_column="ts")

In [4]:
for ft in importer.features:
    print(ft)

importer.update_feature('feature_id', )

id: entity.day.completed
name: completed
owner: me
granularity: DAY
valueType: INT64
entity: entity
dataStores: {}

id: entity.day.avg_distance_completed
name: avg_distance_completed
owner: me
granularity: DAY
valueType: DOUBLE
entity: entity
dataStores: {}

id: entity.day.avg_customer_distance_completed
name: avg_customer_distance_completed
owner: me
granularity: DAY
valueType: DOUBLE
entity: entity
dataStores: {}

id: entity.day.avg_distance_cancelled
name: avg_distance_cancelled
owner: me
granularity: DAY
valueType: DOUBLE
entity: entity
dataStores: {}

In [11]:
import pandas as pd
pd.read_csv("driver_features.csv").head()

,driver_id,ts,completed,avg_distance_completed,avg_customer_distance_completed,avg_distance_cancelled
0,540403892,2018-09-25T00:00:00.000,12,1.102000,172.000000,-1.0000
1,540403917,2018-09-25T00:00:00.000,23,8.160000,783.000000,15.6190
2,540403918,2018-09-25T00:00:00.000,14,2.833286,138.142857,18.5935
3,540403920,2018-09-25T00:00:00.000,7,4.593000,1575.000000,-1.0000
4,540403926,2018-09-25T00:00:00.000,15,11.765600,314.000000,6.7330